@using EntityLayer.Concrete
@model List<Ogretmen>
@{
    ViewBag.Title = "GetOgretmenList";
}

<h2>Ogretmen Listesi</h2>
<table class="table table-hover">
    <tr>
        <td>Öğretmen Id</td>
        <td>Bolum Id</td>
        <td>Öğretmen İsim</td>
        <td>Öğretmen Soyad</td>
        <td>Doğum Yeri</td>
        <td>Bolum</td>
        <td>Ogretmen Dersler</td>
    </tr>
  
    @foreach (var item in Model)
    {
<tr>
    <td>@item.OgretmenId</td>
    <td>@item.BolumId</td>
    <td>@item.OgretmenIsım</td>
    <td>@item.OgretmenSoyad</td>
    <td>@item.DogumYeri</td>
    <td>@item.Bolum</td>
    <td>@item.OgretmenDersler</td>
</tr>
    }
</table>

